<link href="stylesheets/styleLogin.css" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-container">
  <h1 class="w3-center w3-animate-zoom" id="brand">TRAVEL N' STYLE !</h1>
</div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="card" style= "width: 20rem;">
          <div class="card-header">LOGIN</div>
        <form class="login">
          <div class="form-group">
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-default">Login</button>
        </form>
        <br />
        <p>Or sign up <a id="signin" href="/">here</a></p>
      </div>
    </div>
  </div>
  </div>
  <div class="w3-panel w3-border">
  <p>Always know what to wear, whether it's rain or shine. Select your destination and Travel N'Style will provide you
    with attire suggestions based off weather forecast.</p>
</div>

  <script type="text/javascript" src="js/login.js"></script>

