<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Welcome <span class="member-name"></span></h2>
    </div>
  </div>
</div>
<div>
  <form action="/action_page.php">
    <label for="travelStartDate">Start Date:</label>
    <input type="date" id="travelStartDate" name="travelStartDate">
    <input type="submit" value="Submit">
  </form>
</div>
<div>
  <form action="/action_page.php">
    <label for="travelEndDate">End Date:</label>
    <input type="date" id="travelEndDate" name="travelEndDate">
    <input type="submit" value="Submit">
  </form>
</div>


<script type="text/javascript" src="js/members.js"></script>