.jumbotron{
  opacity:inherit;
  background-color: rgb(238, 229, 229);
}
h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: "Times New Roman" !important;;
  text-shadow: 0px 8px 25px #000000 !important;
}
.card {
  background-color: rgb(238, 229, 229);
  border: none;
}
.navbar-brand{
  color:white;
  position: absolute;
  right:0px;
  font-family: "Times New Roman" !important;;
  margin-right: 10px;
}
#temp-card {
  background:linear-gradient(
    rgba(0, 0, 0, 0.10), 
    rgba(0, 0, 0, 0.70)
  );
  background-color: rgb(136, 204, 235)!important;
}
h2 {
  font-size: 30px;
}
strong, #fav-fit, #saved-fav {
  font-family: "Times New Roman" !important;;
}
h2 img {
  width: 100px;
}
.current {
  font-size: 20px;
}
h2, .current {
  font-family: "Times New Roman" !important;;
  font-weight: 500;
}
h4 {
  color:white;
  -webkit-flex:1;
  flex:1;
  vertical-align: top;
  font-size: xx-large;
  font-family: "Times New Roman" !important;;
}
h5 {
  font-family: "Times New Roman" !important;;
}
#brand {
  font-family: 'Oleo Script Swash Caps', cursive;
  color: white;
  font-size: 2.5em;
  line-height: 1.7em;
  text-shadow: 0px 0px 15px #000000;
  margin: 10px 0;
  text-align: center;
}
.btn{
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
    -webkit-box-shadow: 0px 0px 3px #666666;
  -moz-box-shadow: 0px 0px 3px #666666;
  box-shadow: 0px 0px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: rgba(200,200,200,0.5);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
.button:hover {
  background-color: #3e8e41
}
.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#city-btn:hover{
  background-color: #4ca8af;
  transition: all .3s ease-in-out;
}
.btn .fa .fa-search:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
.btn {
  margin: 10px auto;
  font-size: 1em;
  font-weight: bold;
  width: 130px;
  height: 45px;
  border: none;
  width: 100%;
}
.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
    -webkit-box-shadow: 0px 0px 3px #666666;
  -moz-box-shadow: 0px 0px 3px #666666;
  box-shadow: 0px 0px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: rgba(200,200,200,0.5);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
.btn:hover {
  background: rgba(4, 127, 155, 0.5);
  text-decoration: none;
  color: rgba(255, 255, 255, 0.726);
}
#nav-css{
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
    -webkit-box-shadow: 0px 0px 3px #666666;
  -moz-box-shadow: 0px 0px 3px #666666;
  box-shadow: 0px 0px 3px #666666;
  color: #ffffff;
  font-size: 20px;
  background: rgba(200,200,200,0.5);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
}
#nav-css:hover {
  background: rgba(4, 127, 155, 0.5);
  text-decoration: none;
  }
#shoe {
  margin-top: 10px;
}
#accessory {
  margin-top: 10px;
}
#showFav {
  margin-top: 10px;
}
#recomm {
  background-color: #e49322;
  color: white;
  text-align: center;
  font-size: 1.3em;
}
#showFav{
  background-color:  #e49322;
}