h1{
  text-align: center;
  color: white;
}
body{
  /* background-image: url("../assets/images/city/signupbg.jpg"); */
   
  background:linear-gradient(
      rgba(0, 0, 0, 0.10), 
      rgba(0, 0, 0, 0.50)
    ), url("../assets/images/city/signupbg.jpg");
  background-size: cover; 
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
}
.container{
  top:-170px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card{
background-color: blanchedalmond;
/* margin-bottom: 10px; */
margin-top: 200px;
text-align: center;
}
.card-header{
background-color: rgba(4, 127, 155, 0.5);
color: white;
}
.w3-panel.w3-border{
  color: white;
  font-size: 22px;
  font-weight: bolder;
  font-style: oblique;
}


#brand {
font-family: 'Oleo Script Swash Caps', cursive;
color: white;
font-size: 2.5em;
line-height: 1.7em;
text-shadow: 0px 0px 15px #000000;
margin: 10px 0;
}

input {
	width: 300px;
	height: 30px;
  margin-top: 20px !important;
}

form {
display: flex;
flex-direction: column;
justify-content: center;
margin: 0;
}

.btn {
margin: 10px auto;
font-size: 1em;
font-weight: bold;
width: 130px;
height: 45px;
border: none;
}

.btn {
-webkit-border-radius: 5;
-moz-border-radius: 5;
border-radius: 5px;
 -webkit-box-shadow: 0px 0px 3px #666666;
-moz-box-shadow: 0px 0px 3px #666666;
box-shadow: 0px 0px 3px #666666;
font-family: Arial;
color: #ffffff;
font-size: 20px;
background: rgba(200,200,200,0.5);
padding: 10px 20px 10px 20px;
text-decoration: none;
font-family: 'Oswald', sans-serif;
text-transform: uppercase;
}

.btn:hover {
background: rgba(4, 127, 155, 0.5);
text-decoration: none;
}

.form-control {
   padding: 4px;
   font-size: 14px;
   border-width: 1px;
   border-color: #CCCCCC;
   background-color: #FFFFFF;
   color: #000000;
   border-style: hidden;
   border-radius: 4px;
   box-shadow: 0px 0px 5px rgba(66,66,66,.36);
   text-shadow:  0px 0px 5px px rgba(66,66,66,.75);
}
.form-control:focus {
   outline:none;
}

#signin {
color:  rgba(4, 127, 155, 0.5);
}

