form.signup,
form.login {
  margin-top: 30px;
}
.welcome {
  color: white;
}
.jumbotron {
  position: "absolute";
}
.weatherCard {
  position: relative;
}
.jumbotron.card {
  margin: 0 auto;
  float: none;
  width: 40vw;
}
#carouselExampleIndicators {
  width: 15vw;
}
.carousel {
  display: inline-block;
  margin: 20px;
  text-align: center;
}
#carouselExampleIndicators #accessory {
  margin-right: auto;
}
#carouselExampleIndicators #top {
  margin-left: auto;
}
.desLabel {
  text-align: center;
  display: inline-flex;
}
.dropdownBtn {
  display: inline-block;
  width: 200px;
}
.dropdown {
  width: 200px;
  display: inline-flex;
  text-align: center;
}
.dropnbtn{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px
}
#city-btn {
  display: inline-block;
}
.start, .end {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
.container {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    hsla(180, 100%, 80%, 0) 56%
  )
}

